MONGODB_URI=your_mongodb_connection_string
MONGODB_DB=YourDatabaseName

AI_API=YourAIProvider
AI_KEY=YourAIKey
AI_MODEL=YourAIModel
AI_LARGE_MODEL=YourLargeAIModel

IP_LOCATION_TOKEN=YourIPLocationToken
IP_LOCATION_LINK=https://api.ipinfo.io/lite/

ADMIN_EMAIL=YourAdminEmail
ADMIN_PASSWORD=YourAdminPassword

BETTER_AUTH_SECRET=YourBetterAuthSecret
BETTER_AUTH_URL=http://localhost:3000

GT_API_KEY="Your_GT_API_Key"
GT_PROJECT_ID="Your_GT_Project_ID"